body {
  background: #eee;
  font-family: sans-serif;
  align-box: center;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;
  box-align: center;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  border: 2px;
}

.button-container {
  background: #e3f4ff;
  box-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 16px;
  box-align: center;
}